.loginDiv {
  display: flex;
  padding: 10% 0;
  flex-direction: column;
  width: 25%;
  margin: auto;
  flex-grow: 1;
}
.searchBarInput {
  margin-right: 5px;
}

.student-name {
  text-align: center;
}

#loginBtn {
  margin-top: 10px;
}

#logoutBtn{
  margin-bottom: 10px;
}