.card{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;
  flex-basis: content;
  flex-shrink: 0;
  flex-flow: column wrap;
  border: 2px solid;
  flex-wrap: wrap;
  padding: 8px;
  border-radius: 10px;
  margin: 8px 0;
  z-index: 2;
}


.name {
  font-size: 18px;
  font-weight: bold;
  max-height: inherit;
  max-width: inherit;
  text-align: start;
}
.class {
  max-height: inherit;
  max-width: inherit;
}
.student {
  font-size: 18px;
  font-weight: bold;
  max-height: inherit;
  max-width: inherit;
  text-align: start;
}
.student-name {
  display: inline-block;
  max-height: inherit;
  max-width: inherit;
  padding-right:4px;
}